html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  font-family: 'Poppins', sans-serif; 
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	/* content: ''; */
	/* content: none; */
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------------- Write CSS Bellow -----------*/

a{
  position: relative;
  left: 7%;
  text-decoration: none;
  color: white;
  display: inline-block;
  float: left;
  padding: 38px 5%;
  font-size: 24px;
  font-weight: bold;
  transition: 0.5s ease-in-out;
}

a:hover{
  background-color: white;
  color: #8E0000;
}

.terhubung{
  padding: 0;
}

.terhubung:hover{
  background: none; 
}

.terhubung:active{
  background-color:none;
}

.header{
  background-color: #8E0000;
  height: 100px;
  width: 100%;
  z-index:100;
}

.logo img{
  float: left;
  width: 90px;
  height: 80px;
  padding: 10px 0 0 5%;
  background-size: cover;
}

.logo-permikomnas img{
  float: left;
  width: 90px;
  height: 80px;
  padding: 10px 0 0 2%;
  background-size: cover;
}

.menu-header{
  text-decoration: none;
}

.hubungi-kami{
  float: right;
  padding-right: 40px;
  position: absolute;
  right: 2%;
}

.button-hub:hover{
  cursor: pointer;
}

.button-hub:active{
  background-color: rgb(196, 196, 196);
  color: white;
  position: relative;
  top: 5px;
  left: 5px;
  box-shadow: none;
}

.button-hub{
  border: 0 solid white;
  padding: 9px;
  border-radius: 5px;
  outline: none;
  margin: 30px 0px;
  width: 120px;
  height: 45px;
  font-family: poppins;
  font-weight: bold;
  background-color: white;
  box-shadow: 5px 5px 2px rgb(94, 2, 2);
}

.memory{
  width: 300px;
  height: 380px;
  background-color: #8E0000;
  float: left;
  /* margin: 100px 0 50px 220px; */
  border-radius: 20px 0 0 20px;
  text-align: center;
  color: white;
  font-weight: bold;
  box-shadow: 0px 0px 5px 2px rgba(126, 126, 126, 0.5);
}

.memory h4{
  margin-top: 25px;
}

.logo-memory{
  float: left;
  margin-top: 53px;
  margin-left: 24px;
  margin-right: 0px;
}

.container-hubungi{
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.kotak-hubungi{
  border: 1.5px solid #8E0000;
  border-radius: 0 20px 20px 0;
  height: 377px;
  width: 300px;
  float: left;
  box-shadow: 0px 0px 5px 2px rgba(126, 126, 126, 0.5);
}

.kotak-hubungi img{
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 85px;
  object-fit: cover;
}

.scan-me{
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  color: black;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: -15px;
}

/* 
.hubungi-nama{
  position: relative;
  left: 15%;
  padding-top: 15%;
}

.hubungi-email{
  position: relative;
  left: 15%;
  top: 30%;
}

.hubungi-person{
  position: relative;
  left: 15%;
  top: 45%;
}

.kotak-hubungi ul li{
  position: relative;
  padding: 40px 5% 20px 10%;
}

.hubungi-garis{
  border: 1px solid #ababab;
  width: 70%;
  float: right;
  margin-right: 54px;
}

.hubungi-tombol{
  outline: none;
  position: relative;
  float: right;
  top: 20px;
  right: 10%;
}

.hubungi-tombol a button{
  width: 140px;
  height: 35px;
  border-radius: 20px;
  background-color: #8E0000;
  color: white;
  outline: none;
  border: 0 solid white;
  box-shadow: 3px 3px 2px rgba(133, 133, 133, 0.8)
}

.hubungi-tombol a button:hover{
  cursor: pointer;
}

.hubungi-tombol a button:active{
  position: relative;
  top: 3px;
  left: 3px;
  box-shadow: none;
} */

footer{
  width: 100%;
  height: 70px;
}

.garis-footer{
  border-top: 1px solid #ababab;
}

footer .garis-footer img{
  height: 14px;
  width: 14px;
  margin: 15px 0 0 0;
}

footer .garis-footer p{
  color: #ababab;
  text-align: center;
  margin: 10px 0 0 0;
  font-size: 14px;
  font-weight: bold;
}