/* kumpulan font classes */
.font-96{
      font-size: 96px;
}

/* kumpulan warna regular */
.red {
  color: #FF0000;
}

/* kumpulan margin */
/* ml=margin-left mr=margin-right */
.ml-1 {
  margin-left:1px
}
.ml-10 {
  margin-left:10px
}
.mr-10 {
  margin-right:10px
}

.mx-auto{
  margin:0 auto;
}

.ml-auto{
  margin-left: auto;
}

.mr-auto{
  margin-right: auto;
}

.mlp-25{
  margin-left: 25%
}

.w-100{
  width: 100%;
}

text-center{
  text-align: center;
}

white{
  color: white;
}